<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lib">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application android:requestLegacyExternalStorage="true">
        <activity
            android:name=".PathInfoActivity"
            android:launchMode="singleTask" />

        <provider
            android:name=".data.DemoContentProvider"
            android:authorities="${applicationId}.DemoContentProvider"
            android:exported="true"
            android:enabled="true"
            />
    </application>

</manifest>